<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>CadasdroFornecedoresServlet</servlet-name>
        <servlet-class>CadasdroFornecedoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProduto</servlet-name>
        <servlet-class>Produto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Produto</servlet-name>
        <servlet-class>Produto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>model.ServletProduto</servlet-name>
        <servlet-class>model.ServletProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servletproduto</servlet-name>
        <servlet-class>produto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadasdroFornecedoresServlet</servlet-name>
        <url-pattern>/CadasdroFornecedoresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProduto</servlet-name>
        <url-pattern>/Executainserirjsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Produto</servlet-name>
        <url-pattern>/executainserirjsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>model.ServletProduto</servlet-name>
        <url-pattern>/executainserir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servletproduto</servlet-name>
        <url-pattern>/executainserirjjsp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
